### Patch Notes
- 2020-04-24 - Updated date formats for each file.

In [2]:
import pandas as pd
import os
import re

In [1]:
date_formats = {
    'season-0910_csv.csv': '%Y-%m-%d',
    'season-1011_csv.csv': '%d/%m/%y',
    'season-1112_csv.csv': '%d/%m/%y',
    'season-1213_csv.csv': '%d/%m/%y',
    'season-1314_csv.csv': '%d/%m/%y',
    'season-1415_csv.csv': '%d/%m/%y',
    'season-1516_csv.csv': '%d/%m/%y',
    'season-1617_csv.csv': '%d/%m/%y',
    'season-1718_csv.csv': '%d/%m/%y',
    'season-1819_csv.csv': '%d/%m/%Y',
    'season-1920_csv.csv': '%d/%m/%Y',
}

In [3]:
# Consolidating all the seasons data
epl_data = pd.DataFrame()

for filename in os.listdir('../Data'):
    if filename.endswith('csv') and filename.startswith('season'):
        print(filename)
        season_data = pd.read_csv('../Data/'+filename)
        season_data['Season'] = 'S'+re.findall('\d\d\d\d', filename)[0]
        season_data.Date = pd.to_datetime(season_data.Date, format=date_formats[filename])
        epl_data = pd.concat([epl_data, season_data])
        
epl_data.to_csv('../Data/EPL_Data_Full.csv', index=False)
        
print(epl_data.shape)
epl_data.head()

season-0910_csv.csv
season-1011_csv.csv
season-1112_csv.csv
season-1213_csv.csv
season-1314_csv.csv
season-1415_csv.csv
season-1516_csv.csv
season-1617_csv.csv
season-1718_csv.csv
season-1819_csv.csv
season-1920_csv.csv
(4088, 140)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,2009-08-15,Aston Villa,Wigan,0,2,A,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,2009-08-15,Blackburn,Man City,0,2,A,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,2009-08-15,Bolton,Sunderland,0,1,A,0,1,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,2009-08-15,Chelsea,Hull,2,1,H,1,1,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,2009-08-15,Everton,Arsenal,1,6,A,0,3,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
epl_data.Season.value_counts().sort_index()

S0910    380
S1011    380
S1112    380
S1213    380
S1314    380
S1415    380
S1516    380
S1617    380
S1718    380
S1819    380
S1920    288
Name: Season, dtype: int64